{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}

<h1 class="text-center my-5">Ajouter un nouveau produit</h1>

<div class="container">
    <div class="row bg-light">
        <div class="col-8 offset-2 p-5">
        {{ form(form) }}
        
        </div>
    
    </div>
</div>

{% endblock %}
